header {
background-color: black;
overflow: hidden;
font-family: fantasy;
height: 89px;
box-shadow: 3px 3px 8px green;
}


.header-log0 {
  border-radius: 50%;
}

body{
    border: 2px solid black;
    
}

/* ul  {
    display: inline-block;
    justify-content: space-between;
    font-family: fantasy;
    font-size: medium;
    font-weight: bold;
    
} */
 ul li {
    color: black;
    font-family: fantasy;
  }

/* .menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    text-decoration: none;
    
    
  } */
   .logo img {
    width: 50px;
   }

   .nav {
    width: 97%;
    overflow: hidden;
    display: flex;
   }

  .nav-bar{
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
    background-color: black;
    list-style: none;
    position: relative;
    padding: 6px 10px;
  }

  .menu li{
    padding: 0;
    display: inline-block;
    
    /* margin: 0 10px;
    position: relative;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;  */
    
  }

  .menu li a{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;

  }

  .menu li a::after{
    content: '';
    height: 1px;
    width: 0;
    background-color: rgb(138, 241, 138);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.9s ease-in-out;
  }

  .menu li a:hover::after{
    width: 100%;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }

  .video{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
    background: url(https://i.pinimg.com/originals/4e/7a/2a/4e7a2a1a90115e9b571d28fc32754e9e.gif) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 2%;
    box-shadow: 10px 10px 20px green;
    
 }

 
 .col img {
    border-radius: 100%;
    height: 90%;
    margin-left: 25%;
    width: 60%;
    zoom: 115%;
    box-shadow: 10px 10px 20px green;
 }

 fieldset {
    display: flex;
    margin: 2% 2%;
    box-shadow: 10px 10px 20px green;
    border-radius: 6%;
    border: 4px double;
    
 }

 .col {
    width: 50%;
    margin-left: 7% ;
 }

 .h1-name {
  color: ghostwhite;
  margin-left: 15%;
 }

 h2 {
    font-family: fantasy;   
    font-size: xx-large;
 }

 h3 {
    justify-content: space-between;
    display: inline;
    margin-left: 30%;
    font-family: fantasy;
    font-size: x-large;
 }

 pre {
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
    font-size: medium;
 }

 .logos {
    justify-content: space-around;
    display: inline;
    
 }

 .logos img {
    margin: 0px 15px;
    
 }

 .logos :hover {
  transform: translateY(-3px);
 }

 a:hover{
  transform: translateY(-3px);
  
}


 .foot {
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: center;
 }

 footer {
    display: flex;
 }
 .map {
    width: 60%;
    border-radius: 5%;
    height: 70%;
    margin-left: 25%;
    
 }

 .map1 :hover {
  transform: translateY(-3px);
 }

 .container :hover {
  transform: translateY(-3px);
 }

 .about-h1 {
   padding: 0 30px;
   font-family: fantasy;
   h1 {
    color: black;
   }
 }

 .about-h2 {
   padding: 0 30px;
 }

 table {
   padding: 0 20px 20px ;
   font-family: fantasy;
   font-size: large;   
 }

 

 .tr1 {
   background-color: grey;
 }
 .tr2 {
   background-color: rgb(219, 214, 214);
 }

 .td1 {
   background-color: greenyellow;
 }
 .td2 {
   background-color: yellow;
 }
.td3 {
   background-color: rgb(239, 164, 26);
}
.td4 {
   background-color: rgb(215, 16, 16);
}

th {
   border-radius: 10px;
   padding: 10px 10px;
}

td {
   border-radius: 10px;
   padding: 10px 10px;
   border: 1px solid black;
}
 hr {
   margin: 20px;
   box-shadow: 5px 5px 10px green;

 }

 .label {
   padding: 0 20px;
 }

 .text-area {
   padding: 20px 20px;
   margin-bottom: 20px;
 }

 #submit {
   padding: 7px 40px;
   margin: 20px 0 20px 20px;
   background-color: rgb(7, 146, 7);
   font-family: fantasy;
   font-size: medium;
   font-weight: bold;
 }

 #submit:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px green;
  
}
 
 @media screen and (max-width: 900px) {
   pre{
     word-wrap: break-word;
     white-space: pre-wrap;
     word-break:normal;
   }
   .col {
    width: 100%;
    height: 100%;
     word-wrap: break-word;
     word-break: normal;
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto;
     
   }
   footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin: 0;
   }
  
 }
#check {display: none;}
@media(max-width: 610px){
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: black;
    transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}

.open-menu, .close-menu {
  position: absolute;
  color: ghostwhite;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media(max-width: 610px){
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: black;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu, .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}